*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
body{
    font-family: 'Raleway',sans-serif;
    line-height: 1.4;
    height: 100%;
}
.img{
    display: block;
    padding: 1rem;
/*    padding-bottom: 1.5rem;*/
}
.container{
    max-width: 1190px;
    margin-left: 15px;
    margin-right: auto;
}
.text-center{
    text-align: center;
}
.text-blue{
    color: rgb(0, 150, 136);
}
.text-left{
    text-align: left;
}
.text-primary{
    color: #fff;
}
.bg{
    background: #eee;
    color: #333;
}
.bg-white{
    background: #fff;
}
.bg-black{
    background: #333;
}
.bg-primary{
    background: rgb(0, 150, 136);
}
.bg-grey{
    background: #999;
    color: #333;
}
.pull-left{
    float: left;
}
.row{}
.clearfix:after,
.row:after{
    content: '';
    display: block;
    clear: both;
}
.col-12{
    width: 100%;
    padding: .35em;
    box-sizing: border-box;
    float: left;
}
.col-4{
    width: 33.3%;
    padding: .35em;
    box-sizing: border-box;
    float: left;
}
.col-6{
    width: 50%;
    padding: .35em;
    box-sizing: border-box;
    float: left;
}
.p-20{
    padding: 15px 20px 20px;
}
.f-37{
    font-size: 2.25rem;
    font-weight: bolder;
}
.f-25{
    font-size: 1.5rem;
}
.m-20{
    margin: 20px;
}
.p-r-15{
    padding-right: .95erm;
}
.m-t-25{
    margin-top: 2.25rem;
}
.m-t-45{
    margin-top: 4rem;
}
.awesome-icons{
    margin-right: 20px;   
}
.btn{
    display: inline-block;
    padding: 10px;
}
.btn-black{
    background: #333;
    color: #fff;
}
.btn-white{
    background: #fff;
    color: #333;
}
.btn-primary{
    background: rgb(0, 150, 136);
    color: #fff;
    padding: .8rem;
}
.btn-primary:hover{
    background: #333;
}
.btn:hover{
    background: #ccc;
    color: #333;
}
.line{
    width: 100%;
    background: #ddd;
    height: 2px;
}

/*SIDEBAR*/
.sidebar{
    position: fixed;
    height: 100%;
    width: 300px;
    background: #fff;
    color: #333;
}
.sidebar-img{
    width: 121px;
    height: 121px;
    border-radius: 5px;
    border: solid 1px #ccc;
    display: block;
}
.sidebar .content h3{
    margin: .75rem;
}
.sidebar .content h4{
    color: #999;
    margin: 1.5rem;
/*    margin-left: 0;*/
}
.sidebar .content a{
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}
.sidebar .content a:hover{
    cursor: pointer;
    background: #ccc;
    color: #333;
}
.icons{
    margin: 20px 15px;
}
.social-icons:hover{
    color: #888;
}

@keyframes side{
    from{
        left: -300px;
        opacity: 0;
    }
    to{
        left: 0px;
        opacity: 1;
    }
}
.sidebar-animate{
    position: fixed;
    animation: side 1s;
}
/*MAIN BAR*/
.main-bar{
    margin-left: 300px;
}
.my-portfolio{
    border-bottom: solid .50rem #bbb;
}
.my-portfolio h1{
    margin-bottom: 2rem;
}
.my-portfolio p{
    display: inline-block;
    margin-right: 1.3rem;
    margin-bottom: 2rem;
}


/*TEXT-IMAGE*/
.images{
    margin-top: .9rem;
}
.images img{
    width: 100%;
    margin-bottom: .5em;
}
.text{
    padding: 1rem;
    background: #fff;
    color: #333;
}
.text h3{
    margin-bottom: .9rem;
}

.images img:hover{
    opacity: .5;
}
/*SWITCHES*/

.list a{
    display: inline-block;
    margin: 3rem 0;
    padding: .75rem 1.25rem;
    box-sizing: border-box;
}
.list a:hover{
    background: #333;
    color: #fff;
}
.list .selected{
    background: #333;
    color: #fff;
}
.list .selected:hover{
    background: #ccc;
    color: #333;
}


#about
.container>.row>.images{
    background: #eee;
}
.images-2{
    margin-top: .9rem;
}
.images-2 img{
    width: 100%;
    margin-bottom: .5em;
}
.section-2 .content-2{
    margin: 2rem;
    margin-left: .5rem;
}
.section-2 h4{
/*    margin: none;*/
}
.skills .skill-head{
    margin:1rem;
}
.skill{
    width: 100%;
    background: #999;
    height: 2.5rem;
}
.photo-black{
    width: 95%;
    height: 2.5rem;
    background: #444;
    color: #fff;
    line-height: 2.5rem;
}
.web-black{
    width: 85%;
    height: 2.5rem;
    background: #444;
    color: #fff;
    line-height: 2.5rem;
}
.photoshop-black{
    width: 80%;
    height: 2.5rem;
    background: #444;
    color: #fff;
    line-height: 2.5rem;
}
.btn-download{
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem;
    background: #333;
    color: #fff;
    margin-left: .3rem;
}
.btn-download:hover{
    background: #bbb;
    color: #333;
    cursor: pointer;
}

.divisions *{
    border: solid 1px #ccc;
    opacity: .5;
}
.overlay *{
    border: solid 1px #ccc;
}
.overlay h3{
    height: 6.25rem;
    background: #333;
    color: #fff;
    line-height: 6.25rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.divisions:hover *{
    opacity: 1;
    transition: opacity .5s;
}
.divisions h3{
    height: 6.25rem;
/*    background: #333;*/
    color: #fff;
    line-height: 6.25rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.divisions p{
    height: 3.75rem;
    line-height: 3.75rem;
    background: #fff;
}
.divisions .bigger{
    height: 6.25rem;
    background: #fff;
}
.divisions .big{
    height: 6rem;
    line-height: 6rem;
}
.divisions .bigger *{
    border: none;
}
.divisions .bigger h4{
    font-size: 1.85rem;
    padding: 1rem;
    padding-bottom: 0rem;
    font-weight:normal;
}
.divisions .bigger span{padding: 0 .5rem;}
.divisions .bigger p{
    line-height: .9rem;
}

